<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.cayro.sam.v2"
    android:hardwareAccelerated="true"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="pe.cayro.sam.v2.SamApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SamTheme">
        <activity
            android:name="pe.cayro.sam.v2.WelcomeActivity"
            android:label="@string/title_activity_welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.UpdateDataActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name="pe.cayro.sam.v2.MainActivity"
            android:label="@string/title_activity_main" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="pe.cayro.sam.v2.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.MainActivity" />
        </activity>
        <activity android:name="pe.cayro.sam.v2.InstitutionMapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.MainActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="pe.cayro.sam.v2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.MainActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.InstitutionActivity"
            android:label="@string/title_activity_institution"
            android:parentActivityName="pe.cayro.sam.v2.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.LoginActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.NewRecordActivity"
            android:label="@string/title_activity_new_record"
            android:parentActivityName="pe.cayro.sam.v2.InstitutionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.InstitutionActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.NewPatientActivity"
            android:label="@string/title_activity_new_patient"
            android:parentActivityName="pe.cayro.sam.v2.InstitutionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.InstitutionActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.NewDoctorActivity"
            android:label="@string/title_activity_new_doctor"
            android:parentActivityName="pe.cayro.sam.v2.InstitutionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.InstitutionActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.AddRecordDetailActivity"
            android:label="@string/title_activity_add_record_detail"
            android:parentActivityName="pe.cayro.sam.v2.NewRecordActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.NewRecordActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.AddAgentActivity"
            android:label="@string/title_activity_add_agent"
            android:parentActivityName="pe.cayro.sam.v2.NewRecordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.NewRecordActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.AlertActivity"
            android:label="@string/title_activity_alert"
            android:parentActivityName="pe.cayro.sam.v2.AddRecordDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.AddRecordDetailActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.ShowRecordActivity"
            android:label="@string/title_activity_show_record"
            android:parentActivityName="pe.cayro.sam.v2.InstitutionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.InstitutionActivity" />
        </activity>

        <receiver
            android:name="pe.cayro.sam.v2.service.SamAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="pe.cayro.sam.v2.service.SamSyncService"
            android:exported="false" />

        <receiver android:name="pe.cayro.sam.v2.service.SamBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="pe.cayro.sam.v2.ui.reports.ReportQuoteActivity"
            android:label="@string/title_activity_report_quote"
            android:parentActivityName="pe.cayro.sam.v2.MainActivity"
            android:theme="@style/SamTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.MainActivity" />
        </activity>
        <activity
            android:name="pe.cayro.sam.v2.ui.reports.ReportDetailQuoteActivity"
            android:label="@string/title_activity_report_detail_quote"
            android:parentActivityName="pe.cayro.sam.v2.ui.reports.ReportQuoteActivity"
            android:theme="@style/SamTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.cayro.sam.v2.ui.reports.ReportQuoteActivity" />
        </activity>
    </application>

</manifest>
